
<div id="lead">
  <!-- Start #lead-content -->
  <app-lead-content></app-lead-content>
  <!-- End #lead-content -->
  <div id="lead-overlay"></div>
  <div id="lead-down">
      <span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
  </div>
</div>
<!-- End #lead -->
  <!-- Start #about -->
  <app-about-us></app-about-us>
  <!-- End #about -->
  
  <!-- Start #experience -->
  <app-experience></app-experience>
  <!-- End #experience -->
  
  <!-- Start #education -->
  <app-education></app-education>
  <!-- End #education -->
  
  
  <!-- Start #projects -->
  <app-project></app-project>
  <!-- End #projects -->
  
  <!-- Start #skills -->
  <app-skills></app-skills>
  <!-- End #skills -->
  <!-- Start #contact -->
  <app-contact></app-contact>
  <!-- End #contact -->
  