<!-- <div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">All Books</h3>
        </div>
        <div class="panel-body">
        <li *ngFor='let book of allBooks'>
          <i>{{book.title}}</i>
          <a [routerLink]="['/editbook', book.bookID]"> Edit </a>
          <a (click)="deleteBook(book.bookID)">Delete</a>
        </li>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">All Readers</h3>
        </div>
        <div class="panel-body">
        <li *ngFor='let reader of allReaders'>
          {{reader.name}}
          <a [routerLink]="['/editreader', reader.readerID]">Edit</a>
          <a (click)="deleteReader(reader.readerID)"> Delete </a>
        </li>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Most Popular Book</h3>
        </div>
        <div class="panel-body">
          <i>{{mostPopularBook.title}}</i> by {{mostPopularBook.author}}
        </div>
      </div>
    </div>
  </div>
</div> -->

<div id="mobile-menu-open" class="shadow-large">
  <i class="fa fa-bars" aria-hidden="true"></i>
</div>
<!-- End #mobile-menu-toggle -->
<app-header></app-header>
<!-- End header -->

<div id="lead">
  <!-- <div id="lead-profile-image">
          <img src="images/lead-display-image.jpg" class="img-rounded" alt="banner-dp">
  </div> -->
  
  <!-- Start #lead-content -->
  <app-lead-content></app-lead-content>
  <!-- End #lead-content -->

  <div id="lead-overlay"></div>

  <div id="lead-down">
      <span>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </span>
  </div>
  <!-- End #lead-down -->
</div>
<!-- End #lead -->

<!-- Start #about -->
<app-about-us></app-about-us>
<!-- End #about -->

<!-- Start #experience -->
<app-experience></app-experience>
<!-- End #experience -->

<!-- Start #education -->
<app-education></app-education>
<!-- End #education -->


<!-- Start #projects -->
<app-project></app-project>
<!-- End #projects -->

<!-- Start #skills -->
<!-- End #skills -->

<div id="contact">
  <h2>Get in Touch</h2>
  <div id="contact-form">
      <form method="POST" action="https://formspree.io/email@email.com">
          <input type="hidden" name="_subject" value="Contact request from personal website" />
          <input type="email" name="_replyto" placeholder="Your email" required>
          <textarea name="message" placeholder="Your message" required></textarea>
          <button type="submit">Send</button>
      </form>
  </div>
  <!-- End #contact-form -->
</div>
<!-- End #contact -->

<footer>
  <div class="container">
      <div class="row">
          <div class="col-sm-5 copyright">
              <p>
                  Copyright &copy; 2019 RAJNISH RAI
              </p>
          </div>
          <div class="col-sm-2 top">
              <span id="to-top">
                  <i class="fa fa-chevron-up" aria-hidden="true"></i>
              </span>
          </div>
          <div class="col-sm-5 social">
              <ul>
                  <li>
                      <a href="https://github.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                  </li>
                  <li>
                      <a href="https://stackoverflow.com/" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                  </li>
                  <li>
                      <a href="https://linkedin.com/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li>
                      <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                      <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                      <a href="https://plus.google.com/" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</footer>